{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
{% endblock %}

{% block content %}
<div id="main">
    <div id="page">
        <div id="loop">
            <h1><b>APEX</b>STEEL IS THE <b><i>REAL</i></b> <span>STEEL & STONE</span> IN THE <span><i>MATRIX WORLD.</i></span></h1>
            <h1><b>APEX</b>STEEL IS THE <b><i>REAL</i></b> <span>STEEL & STONE</span> IN THE <span><i>MATRIX WORLD.</i></span></h1>
            <h1><b>APEX</b>STEEL IS THE <b><i>REAL</i></b> <span>STEEL & STONE</span> IN THE <span><i>MATRIX WORLD.</i></span></h1>
        </div>
        <h3>APEXSTEEL AIMS TO BE A DECENTRALIZED COMMUNITY THAT CAN <br> CREATE NEW VALUES AND PROFITS THROUGH PLAY IN THE VIRTUAL <br> WORLD.</h3>
        <h4>...SCROLL TO READ</h4>
        <canvas></canvas>
    </div>

    <div id="page1">
        <div id="right-text">
            <h3>APEXSTEEL / ACCESSORIES</h3>
            <h1>
                HAVE FUN
                <br>
                LET'S BUY
                <br>
                LET'S BE TOGETHER
            </h1>
        </div>
        <div id="left-text">
            <h1>
                MAKE A STORY
                <br>
                TAKE A CHANCE
                <br>
                SELECT AND OWNED
            </h1>
            <h3>..AND MAINTAIN GOOD VIBE</h3>
        </div>
    </div>

    <div id="page2">
        <div id="text1">
            <h3>APEXSTEEL / ACCESSORIES</h3>
            <h1>
                LET'S
                <br>
                HAVE FUN
                <br>
                TOGETHER
            </h1>
        </div>
        <div id="text2">
            <p>
                LET'S HAVE A BLAST! LET'S JUST THROW AWAY AGE, GENDER, REGION, <br>
                STATUS, ETC., DON'T COMPETE, DON'T FIGHT, COOPERATE AND SHARE <br>
                WITH EACH OTHER AND ENJOY IT TOGETHER! SO THAT YOU CAN STAND <br>
                THERE IN THE NOT-TOO-DISTANT FUTURE AND DREAM OF ANOTHER NEW <br>
                FUTURE
            </p>
        </div>
    </div>

    <div id="page3">
        <div id="text3">
            <h3>APEXSTEEL / ACCESSORIES</h3>
            <h1>
                APEXSTEEL
                <br>
                IS OUR
                <br>
                ACCESSORY
            </h1>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-brand">
                <h2 class="logo">APEXSTEEL</h2>
                <p>Premium steel and stone accessories for the modern man. Quality craftsmanship meets contemporary design.</p>
                <div class="newsletter">
                    <input type="email" placeholder="Enter your email">
                    <button><i class="fas fa-envelope"></i></button>
                </div>
                <div class="social-links">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="footer-links">
                <div class="link-column">
                    <h3>MENU</h3>
                    <ul>
                        <li><a href="#">Jewellery</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Steel Collection</a></li>
                        <li><a href="#">Stone Collection</a></li>
                        <li><a href="#">New Arrivals</a></li>
                    </ul>
                </div>
                <div class="link-column">
                    <h3>REVIEWS</h3>
                    <ul>
                        <li><a href="#">Offers and Deals</a></li>
                        <li><a href="#">Customer Reviews</a></li>
                        <li><a href="#">Style Guide</a></li>
                    </ul>
                </div>
                <div class="link-column">
                    <h3>COMMUNITY</h3>
                    <ul>
                        <li><a href="#">Affiliate Program</a></li>
                        <li><a href="#">Fashion Blog</a></li>
                        <li><a href="#">Apex Spotlight</a></li>
                    </ul>
                </div>
                <div class="link-column">
                    <h3>QUICK LINKS</h3>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Track Order</a></li>
                        <li><a href="#">FAQ's</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="contact-info">
                <h3>CONTACT US</h3>
                <p>ApexSteel E-Commerce Private Limited</p>
                <p>queries@apexsteel.co.in</p>
                <p>Pamposh Enclave, GK-1 Delhi - 110048</p>
            </div>
            <div class="copyright">
                <p>&copy; 2026 APEXSTEEL. All Rights Reserved.</p>
                <p>Designed for the Matrix World</p>
            </div>
        </div>
    </footer>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js" integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js" integrity="sha512-AMl4wfwAmDM1lsQvVBBRHYENn1FR8cfOTpt8QVbb/P55mYOdahHD4LmHM1W55pNe3j/3od8ELzPf/8eNkkjISQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/shared.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
